# Build-Artefakte
build/
*.o
*.d
*.elf
*.bin
*.iso
*.img

# Extern bezogener Bootloader
third_party/

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store

# Testprogramm der Wirtsmaschine
tests/krypto-test
